/* styles using by feedback */
.path-mod-feedback span.feedback_info {
    font-weight: bold;
}

/** Viewing questions */
.path-mod-feedback .feedback_form .feedback_questionheader {
    border-bottom: none;
}

/** Pagebreak on preview/review pages */

body.path-mod-feedback #region-main .mform.feedback_form .feedback-item-pagebreak .felement {
    width: 100%;
}

body.path-mod-feedback #region-main .mform.feedback_form .feedback-item-pagebreak .felement .form-control-static {
    display: block;
}

/** Dependencies */

.path-mod-feedback span.feedback_depend {
    color: #9600ff;
}

.path-mod-feedback span.feedback_depend.feedback_depend_invalid {
    color: #f00;
    font-weight: bold;
}

.path-mod-feedback hr.feedback_pagebreak {
    height: 4px;
    color: #aaa;
    background-color: #aaa;
    border: 0;
    margin: 0;
}

/* Edit questions page */
.path-mod-feedback .itemactions {
    float: right;
}

.path-mod-feedback ul.feedback_edit li.feedback_itemlist.feedback-item-pagebreak {
    border: none;
    margin-top: .5rem;
}

.path-mod-feedback .feedback_edit .page_split_join_wrapper {
    position: absolute;
    height: 1px;
}

.path-mod-feedback .feedback_edit .addremovepagebreak {
    position: relative;
    left: -2.35rem;
}

.path-mod-feedback .feedback_edit .addremovepagebreak img {
    margin: 0;
    padding: 0;
}

.path-mod-feedback .drag_target_active {
    opacity: .25;
}

.path-mod-feedback .drag_item_active {
    opacity: .5;
}

.path-mod-feedback .drag_target_active .page_split_join_wrapper,
.path-mod-feedback .drag_item_active .page_split_join_wrapper {
    display: none;
}

/* Templates page */
.path-mod-feedback .templateslist td.cell.action,
.path-mod-feedback .templateslist th.header.action {
    width: 10%;
}

/* Analysis page */

.path-mod-feedback .analysis .individualdata li.isempty {
    display: none;
}
.path-mod-feedback .analysis .chart-image {
    max-width: 500px;
}

/* Responses list */
.path-mod-feedback #showentrytable td.cell.completed_timemodified,
.path-mod-feedback #showentryanontable td.cell.random_response {
    font-weight: bold;
}

.path-mod-feedback #showentrytable td.cell.userpic,
.path-mod-feedback #showentrytable td.cell.deleteentry,
.path-mod-feedback #showentryanontable td.cell.deleteentry {
    width: 10px;
}

/* Responses navigation */
.path-mod-feedback .response_navigation {
    margin: .5em 0;
}

.path-mod-feedback .response_navigation a {
    display: inline-block;
}

.path-mod-feedback .response_navigation a.back_to_list {
    margin: auto;
    float: right;
    left: -50%;
    position: relative;
}

.path-mod-feedback .response_navigation .prev_response:before {
    /*rtl:raw:
    content: ' ► ';
    */
    /*rtl:remove*/
    content: ' ◄ ';
}

.path-mod-feedback .response_navigation .next_response:after {
    /*rtl:raw:
    content: ' ◄ ';
    */
    /*rtl:remove*/
    content: ' ► ';
}

.path-mod-feedback .response_navigation .next_response {
    float: right;
}

.path-mod-feedback .response_navigation .prev_response {
    float: left;
}
