/* styles using by feedback */
.feedback_switchrequired img{
}

span.feedback_info {
    font-weight:bold;
}
div.feedback_item_box_left, div.feedback_item_box_right {
}

div.feedback_item_box_left div.feedback_item_label_left, div.feedback_item_box_left div.feedback_item_presentation_left {
    margin-left: 15px;
}

div.feedback_item_box_right div.feedback_item_label_right, div.feedback_item_box_right div.feedback_item_presentation_right {
    margin-right: 15px;
}

div.feedback_depend {
    background:#DDDDDD;
}

div.feedback_complete_depend {
    background:#EEEEEE;
}

span.feedback_depend {
    color:#ff0000;
}

div.feedback_item_number_left, div.feedback_item_left {
    float:left;
}
div.feedback_item_number_right, div.feedback_item_right {
    float:right;
}

div.feedback_item_commands_left {
    float:right;
    text-align:right;
}

div.feedback_item_commands_right {
    float:left;
    text-align:left;
}

li.feedback_item_check_h_left,
li.feedback_item_check_h_right,
li.feedback_item_radio_h_left,
li.feedback_item_radio_h_right {
    list-style-type:none;
    display:inline;
}

div.feedback_item_select_h_left,
div.feedback_item_select_h_right {
    display:block;
}

li.feedback_item_check_v_left,
li.feedback_item_check_v_right,
li.feedback_item_radio_v_left,
li.feedback_item_radio_v_right {
    list-style-type:none;
    display:block;
}

div.feedback_item_select_v_left,
div.feedback_item_select_v_right {
    display:block;
}

div.feedback_items label{
    display: inline;
}

div.feedback_item_captcha_text_left,
div.feedback_item_captcha_img_left {
    display:inline;
    margin: 5px;
}
div.feedback_item_captcha_text_right,
div.feedback_item_captcha_img_right {
    display:inline;
    margin: 5px;
}

hr.feedback_pagebreak {
    height:8px;
    color:#aaaaaa;
    background-color:#aaaaaa;
    border:0px;
}

.drag_target_active {
        opacity: .25;
}

.drag_item_active {
        opacity: .5;
}

ul#feedback_draglist {
        list-style: none;
        padding: 0;
        margin: 0;
}

div#feedback_dragarea {
    width:95%;
}

div img.feedback_bar_image {
    height: 10px;
}

.path-mod-feedback input,
.path-mod-feedback textarea,
.path-mod-feedback .uneditable-input {
    width: auto;
}

.path-mod-feedback #analysis-form label { display: inline; }

.path-mod-feedback .templateslist td.cell.action,
.path-mod-feedback .templateslist th.header.action {
    width: 10%;
}


.path-mod-feedback .mform#feedback_complete_form .fitem .fitemtitle {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left;
    width: 100%;
}

.path-mod-feedback .mform#feedback_complete_form .fitem .felement {
                margin-left: 0;
                width: 100%;
                float: left;
                padding-left: 0;
                padding-right: 0;
            }

.path-mod-feedback .mform#feedback_complete_form .fitem .fstatic:empty {
                display: none;
            }
.path-mod-feedback .mform#feedback_complete_form .fitem .fcheckbox > span,
.path-mod-feedback .mform#feedback_complete_form .fitem .fradio > span,
.path-mod-feedback .mform#feedback_complete_form .fitem .fgroup > span {
                margin-top: 4px;
            }
.path-mod-feedback .mform#feedback_complete_form .femptylabel .fitemtitle {
                display: inline-block;
                width: auto;
                /* margin-right: 8px;*/
            }
.path-mod-feedback .mform#feedback_complete_form .femptylabel .felement {
                display: inline-block;
                margin-top: 4px;
                padding-top: 5px;
                width: auto;
            }
.path-mod-feedback .mform#feedback_complete_form .fitem_fcheckbox .fitemtitle,
.path-mod-feedback .mform#feedback_complete_form .fitem_fcheckbox .felement {
                display: inline-block;
                width: auto;
            }
.path-mod-feedback .mform#feedback_complete_form .fitem_fcheckbox .felement {
                padding: 6px;
            }

/*.dir-rtl.path-mod-feedback .mform#feedback_complete_form .femptylabel .fitemtitle {
            margin-right: 0px;
            margin-left: 8px;
        }*/
.dir-rtl.path-mod-feedback .mform#feedback_complete_form .fitem .fitemtitle {
                text-align: right;
            }
.dir-rtl.path-mod-feedback .mform#feedback_complete_form .fitem .felement {
                margin-right: 0;
                float: right;
                padding-right: 0;
                padding-left: 0;
            }

.dir-rtl.path-mod-feedback .mform#feedback_complete_form .fitem_fcheckbox .felement {
            float: right;
        }
        