{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_group/groupsoverview

    Displays groups overview page

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }

}}

<div class="groupsfilter">

{{#str}} filtergroups, group {{/str}}

<span class="singleselect">
<label for="groupingselect">{{#str}} grouping, group {{/str}}</label>
<select id="groupingselect">
    <option value="0">{{#str}} all {{/str}}</option>
    {{#groupings}}
    <option value="{{id}}">{{{name}}}</option>
    {{/groupings}}
</select>
</span>

<span class="singleselect">
<label for="groupselect">{{#str}} group, group {{/str}}</label>
<select id="groupselect" name="group">
    <option value="0">{{#str}} all {{/str}}</option>
    {{#groups}}
    <option value="{{id}}">{{{name}}}</option>
    {{/groups}}
    {{#notingroupsmemberscount}}
    <option value="{{id}}">{{#str}} nogroup, group {{/str}}</option>
    {{/notingroupsmemberscount}}
</select>
</span>

</div>

{{#groupings}}
<div class="overviewgrouping" data-groupingid="{{id}}">
    <h3>{{{name}}}</h3>
    <div class="generalbox">{{{description}}}</div>
    {{#groupscount}}
    <table class="generaltable" width="90%">
    <thead>
        <tr>
            <th class="header c0" width="20%">{{#str}}groupscount, group, {{groupscount}}{{/str}}</th>
            <th class="header c1" width="70%">{{#str}}groupmembers, group{{/str}}</th>
            <th class="header c2 lastcol" width="10%">{{#str}}usercount, group{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#groups}}
            <tr class="overviewgroup" data-groupid="{{id}}">
                <td class="cell c0" width="20%"><span class="group_hoverdescription" data-groupid="{{id}}">{{{picture}}}{{{name}}}</span></td>
                <td class="cell c1" width="70%">{{{members}}}</td>
                <td class="cell c2 lastcol" width="10%">{{{memberscount}}}</td>
            </tr>
        {{/groups}}
    </tbody>
    </table>
    {{/groupscount}}
    {{^groupscount}}
    <p class="groupingempty">{{#str}} groupingempty, group {{/str}}</p>
    {{/groupscount}}
</div>
{{/groupings}}
{{#notingroupsuserscount}}
<div class="overviewgrouping notingroupsusers" data-groupingid="-2">
    <h3>{{#str}}notingrouplist, group{{/str}}</h3>
    <div class="generalbox boxwidthnarrow boxaligncenter">{{{description}}}</div>
    <table class="generaltable" width="90%">
    <thead>
        <tr>
            <th class="header c0" width="20%"></th>
            <th class="header c1" width="70%">{{#str}}users{{/str}}</th>
            <th class="header c2 lastcol" width="10%">{{#str}}usercount, group{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="overviewgroup" data-groupid="-1">
            <td class="cell c0" width="20%">No group</td>
            <td class="cell c1" width="70%">{{{notingroupsusers}}}</td>
            <td class="cell c2 lastcol" width="10%">{{{notingroupsuserscount}}}</td>
        </tr>
    </tbody>
    </table>
</div>
{{/notingroupsuserscount}}


{{#js}}
require(['jquery', 'core/log'], function($, l) {
    $('.groupsfilter select').on('change click', function(e) {
        var groupingid = parseInt($('#groupingselect').val());
        var groupid = parseInt($('#groupselect').val());
        $('.overviewgrouping').removeClass('hidden');
        if (groupingid !== 0) {
            $('.overviewgrouping:not([data-groupingid='+groupingid+'])').addClass('hidden');
        }
        $('.overviewgroup').removeClass('hidden');
        if (groupid !== 0) {
            $('.overviewgroup:not([data-groupid='+groupid+'])').addClass('hidden');
            $('.overviewgrouping').each(function() {
l.debug('checking ');
l.debug($(this));
                if ($(this).find('.overviewgroup[data-groupid='+groupid+']').length == 0) {
                    $(this).addClass('hidden');
                }
            });
        }
    });
});
{{/js}}
